.App-header {
  font-size: calc(10px + 2vmin);
}

.App {
  padding-left: 10vmin;
  padding-top: 5vmin;
  padding-bottom: 5vmin;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}
